<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style-test.css">
    <title>Успішність 291 навчальної групи</title>
</head>
<body>

<div class="header">
    <a href="/291" class="g291"><b>291 н.г.</b></a>
</div>
<div class="main">
    <section class="cadetCard">
        <div class="cadetInfo">
            <div class="cadetStatus">
                <img src="img/mark_good.png" alt="mark_good">
            </div>
            <div class="cadetPIB">ШНУРЕНКО Генадій Степанович</div>
            <div class="cadetProgress">
                <div><b>Загальна кількість балів:</b> 60</div>
                <div><b>Набрано балів:</b> 50</div>
                <div><b>Оцінка:</b> дуже добре</div>
            </div>
        </div>
        <div class="disciplineInfo">
            <div class="tableHead">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="tableResult">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </section>

</div>
</body>
</html>